<!doctype html>
<html lang="en" dir="rtl">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.rtl.min.css"
        rel="stylesheet" integrity="sha384-WJUUqfoMmnfkBLne5uxXj+na/c7sesSJ32gI7GfCk4zO4GthUKhSEGyvQ839BC51"
        crossorigin="anonymous">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="icon" href="img/lepuslogo.jpg">
    <title><%= title%></title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Graduate&display=swap" rel="stylesheet">
</head>
<%- include('partials/navbar') %>
<body>
    <!-- HEADER -->
    <!-- LOGO -->
    <nav class="img1">
        <label for="" class="brand" >
            <a href="/"><img src="img/lepuslogo.jpg" alt=""></a>
            <h1 class="display-1 my-5 text text-uppercase fw-bold">LEPUS</h1>
        </label>
    </nav>

    <!-- MENU -->

    <%- include('partials/navigation') %>


    <!-- slider de imagenes -->

    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="3000">
                <img src="./img/planet.jpg" class="d-block w-100" alt="slide1">
            </div>
            <div class="carousel-item" data-bs-interval="3000">
                <img src="./img/wise.jpg" class="d-block w-100" alt="slide2">
            </div>
            <div class="carousel-item" data-bs-interval="3000">
                <img src="./img/space.jpg" class="d-block w-100" alt="slide3">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <!-- breve descripcion -->
    <section class="w-50 mx-auto text-center pt-5" id="intro">
        <h1 class="p-3 fs-2 border-top border-3"><span class="text-primary">Bienvenidos a LEPUS nuestra Agencia de Publicidad de Marketing</span></h1>
        <p class="p-3 fes-4"><span class="text-primary">Somos una agencia especializada en brindar soluciones de marketing digital efectivas y personalizadas para ayudar a tu negocio a alcanzar el éxito en línea</span></p>
        <p dir="ltr">Nuestro equipo de expertos en marketing digital está comprometido en ofrecerte estrategias innovadoras, creativas y orientadas a resultados para impulsar tu presencia en línea, aumentar tu visibilidad y alcanzar tus objetivos comerciales.</p>
        <p dir="ltr">En nuestra agencia, comprendemos que cada negocio es único, por lo que nos enfocamos en entender tus necesidades específicas y desarrollar soluciones personalizadas que se ajusten a tus metas y presupuesto.</p>
        <p dir="ltr">Ya sea que necesites mejorar tu estrategia de redes sociales, aumentar la visibilidad de tu sitio web, gestionar campañas de publicidad en línea o crear contenido atractivo, nuestro equipo está preparado para ayudarte en cada paso del camino.</p>
        <p dir="ltr">Confía en nosotros como tu socio estratégico en marketing digital y juntos lograremos grandes resultados. ¡Contacta con nosotros hoy mismo para comenzar a impulsar tu negocio en línea!</p>
    </section>

    <div>



        <!-- PIE DE PAGINA -->

        <footer class="w-100 d-flex align-items justify-content-center d-flex-wrap">
            <p class="fs-5 px-3 pt-3">LEPUS &copy; Todos los derechos reservados 2023</p>
            <div id="icons">
                <a href="https://api.whatsapp.com/send?phone=3045441669"><i class="bi bi-whatsapp"></i></a>
                <a href="https://instagram.com/lepus906?igshid=NjIwNzIyMDk2Mg=="><i class="bi bi-instagram"></i></a>
            </div>
        </footer>




        <!-- Option 1: Bootstrap Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
            crossorigin="anonymous"></script>

</body>

</html>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>