<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/login') %>
</head>

<body>
  <section>
    <div class="form-box">
      <div class="form-value">
        <form action="">
          <h2>Login</h2>
          <div class="inputbox">
            <ion-icon name="mail-outline"></ion-icon>
            <input type="email" required />
            <label for="">Email</label>
          </div>
          <div class="inputbox">
            <ion-icon name="lock-closed-outline"></ion-icon>
            <input type="password" required />
            <label for="">Password</label>
          </div>
          <div class="inputbox">
            <ion-icon name="people-outline"></ion-icon>
            <select required>
              <option value="">Selecciona tu rol</option>
              <option value="administrador">Administrador</option>
              <option value="usuario">Usuario</option>
              <option value="invitado">Invitado</option>
            </select>
          </div>
          <button>Log In</button>
          <div class="register">
            <p>No tienes una cuenta? <a href="registro">Registrate</a></p>
          </div>
        </form>
      </div>
    </div>
  </section>
</body>

</html>
