<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/rutaslogin.ejs') %>
</head>

<body>
  <section>
    <div class="form-box">
      <div class="form-value" >
        <form action="login" method="POST" >
          <h2>Login</h2>
          <div class="inputbox">
            <ion-icon name="mail-outline"></ion-icon>
            <input type="email" name="email" id="email"required />
            <label for="">Email</label>
          </div>
          <div class="inputbox">
            <ion-icon name="lock-closed-outline"></ion-icon>
            <input type="password"  id="contrasena" name="contrasena" required />
            <label for="">Password</label>
          </div>
          <div class="inputbox">
            <ion-icon name="people-outline"></ion-icon>
            <select id="userType" name="id_rol" required>
              <option value="2">Usuario</option>
              <option value="1">Administrador</option>
              
            </select>
          </div>
          <button type="submit">Log In</button>
          <div class="register">
            <p>No tienes una cuenta? <a href="registro">Registrate</a></p>
          </div>
        </form>
      </div>
    </div>


  </section>
  <!-- ... -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- ... -->

<script>
  $(document).ready(function () {
    $("form").on("submit", function (event) {
      event.preventDefault();
      const formData = $(this).serialize();

      $.post("/login", formData, function (data) {
        if (data.error) {
          Swal.fire({
            icon: "error",
            title: "Error",
            text: data.error,
          });
        } else {
          if (data.redirect) {
            window.location.href = data.redirect;
          }
        }
      });
    });
  });
</script>
</body>

</html>
