<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title%></title>
  <link rel="stylesheet" href="css/perfil.css">
</head>

<body>
  <header>
    <h1>User Profile</h1>
  </header>

  <div class="container">
    <div class="profile-card">
      <div class="profile-picture">
        <img src="avatar.jpg" alt="Profile Picture">
      </div>
      <div class="profile-info">
        <h2>ANDRES</h2>
        <p>Email: johndoe@example.com</p>
        <p>Location: New York, USA</p>
        <p>Age: 30</p>
        <button id="edit-button">Edit Profile</button>
      </div>
    </div>
  </div>

  <script src="perfil.js"></script>
</body>

</html>
