<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <%- include('partials/rutasRegistro.ejs') %>

  <link rel="stylesheet" href="css/registro.css" />
  <link rel="icon" href="img/lepuslogo.jpg" />
  <title><%= title%></title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Graduate&display=swap" rel="stylesheet">
</head>

<body>
  <form action="registrar" method="POST">
    <section class="form-register">
    <h4>Formulario Registro</h4>
    <input class="controls" type="number" name="ID_USUARIO" placeholder="Ingrese su Cedula" required/>
    <input class="controls" type="text" name="NOMBRE"  placeholder="Ingrese su(s) Nombre(s)" required/>
    <input class="controls" type="text" name="APELLIDO" placeholder="Ingresar Apellidos" required/>
    <input class="controls" type="text" name="EMAIL"  placeholder="Ingrese su Correo" required/>
    <input class="controls" type="number" name="TELEFONO"  placeholder="Ingrese su Numero Telefónico" required/>
    <input class="controls" type="text" name="DIRECCION"  placeholder="Ingrese su direccion" required/>
   <label for="rol">Selecciona tu rol:</label>
  <select name="ID_ROL" required>
        <option value="">Seleccione una opción</option>
        <option value="2">usuario</option>
    </select>
    
    <p>Ingrese su fecha de nacimiento:</p>
    <input class="controls" type="text" name="FECHA_NACIMIENTO"  required/>
  <input class="controls" type="text" name="CONTRASENA"  placeholder="Ingrese su Contraseña" required/>
  <label >Selecciona tu GENERO:</label>
  <select name="GENERO" required>
        <option value="FEMENINO">FEMENINO</option>
        <option value="MASCULINO">MASCULINO</option>
    </select>
    <p>Estoy de acuerdo con <a href="#" id="termsLink">Terminos y condiciones</a></p>

    <div id="modal" class="modal">
      <div class="modal-content">
        <h2>Términos y condiciones</h2>
        <br>
        <p> Antes de proceder, por favor lee y acepta nuestros términos y condiciones. Al utilizar nuestros servicios, aceptas estar legalmente vinculado(a) por estos términos. Si no estás de acuerdo, te pedimos que no utilices nuestra plataforma.
          Recuerda siempre hacer un uso adecuado de nuestros servicios y respetar los derechos de otros usuarios. Protegemos tu privacidad y tus datos personales de acuerdo con nuestra Política de Privacidad.</p>
        <br>
        <button class="close">Aceptar y Cerrar</button>

         <!-- Otro contenido del modal aquí -->
      </div>
    </div>
    <br>
    <button type="submit">Registrar</button>
   
    </form>
     <form action="generatePdf" method="post">
      <input type="hidden" name="datos">
      <label for="formato"></label>
      <button type="submit">Generar Reporte en PDF</button></form>
  </section>
  </form>
  

 
</body>

<!-- Script para la ventana modal -->
<script src="./js/registromodal.js"></script>

<!-- Script para el PDF -->
<script src="./js/registrogenerador"></script>
</html>