/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  background-color: #1a1a1a;
  color: #ffffff;
}

h2 {
  color: #ff00ff; /* Color neon */
}

a {
  color: #ff00ff; /* Color neon para enlaces */
  text-decoration: none;
}

a:hover {
  color: #ffffff; /* Color blanco al pasar el cursor por encima del enlace */
}

/* Estilos para la sección de portafolio */
#portafolio-admin {
  padding: 50px 0;
}

.contenido-seccion {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.galeria {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
  justify-items: center;
}

.proyecto {
  position: relative;
  max-width: 300px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.proyecto img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s;
}

.proyecto:hover .overlay {
  opacity: 1;
}

.overlay h3,
.overlay p {
  margin: 5px;
}

.button {
  display: inline-block;
  margin: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #ff00ff; /* Color neon */
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #ffffff; /* Color blanco al pasar el cursor por encima */
  color: #ff00ff; /* Color neon al pasar el cursor por encima */
}

/* Estilos para la opción de añadir proyecto */
.añadir-proyecto {
  margin-top: 50px;
  text-align: center;
}

.añadir-proyecto h3 {
  color: #ff00ff; /* Color neon */
}

.añadir-proyecto label {
  display: block;
  margin-bottom: 10px;
  color: #ffffff;
}

.añadir-proyecto input[type="text"],
.añadir-proyecto textarea {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
}

.añadir-proyecto input[type="file"] {
  margin-top: 10px;
}

.añadir-proyecto button[type="submit"] {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #ff00ff; /* Color neon */
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.añadir-proyecto button[type="submit"]:hover {
  background-color: #ffffff; /* Color blanco al pasar el cursor por encima */
  color: #ff00ff; /* Color neon al pasar el cursor por encima */
}
