  /* <!-- HEADER --> */

  /* LOGO */
  .brand img {
    display: flex;
    justify-content: center;
    width: 350px;
    height: 290px;
  }
  body{
    background: #1f0042;
    color: #00ffff;
    font-family: 'Graduate';
  }
  h1 {
    font-family: 'Graduate';
  }
  .img1 {
    text-align: center;
  }

  /* slider de imagenes */
.carousel-inner {
  width: 100%;
    max-height: 29rem;
  

  }

  .carousel-item img {
    width: 100%;
    height: auto;
  }
  
  /* 
  <!-- breve descripcion --> */
  
  @media (max-width: 768px) {
    #intro {
      width: 90% important;
    }
  }
  
  /* FOOTER */
  
  footer {
    background: #4c2882;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  footer p {
    color: #00ffff;
    text-align: center;
    margin: 0;
  }

  #icons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #icons i {
    font-size: 26px;
    padding: 0 8px;
    color: #f8f8ff;
  }